{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'form.css' %}">
{%endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 g-3">
        <h2 class="mb-4 text-center">Login</h2>
        <form method="post" novalidate class="gap-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 mt-4">Login</button>
        </form>
        <div class="inline d-flex mt-3 text-center gap-5 justify-content-center">
           <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p> 
            <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </div>
        
    </div>
</div>
{% endblock %}