{% extends 'base.html' %}
{% load static %}

{% block title %}Manager Order List{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% for order in orders %}
        <div class="mb-4 cart-container">
            <h2>Order #{{ order.id }} - {{ order.date|date:"d/m/Y H:i" }}</h2>
            <div class="d-flex align-items-center justify-content-between">
                <div class="ms-3">
                    <p>Total: €{{ order.total }}</p>
                    <p>Address: {{ order.address }}</p>
                    <p>Client: {{ order.user }}</p>
                    <p>Shipped: {{ order.shipped_at }}</p>
                </div>
                <div class="ms-3">
                    <p class="text-success">{{ order.status }}</p>
                </div>
                <div class="ms-3 d-flex gap-3">
                    {% if order.status.id == 1 %} <!-- status.id 1 is for 'IN THE MAKING' -->
                        <div class="ms-3">
                            <form method="post" action="{% url 'change_order_status' order.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success">Send Order</button>
                            </form>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#orderDetails{{ order.id }}">
                        Details
                    </button>
                <a href="{% url 'return_requests_for_order' order.id %}" class="btn btn-primary">
                    Return Requests</a>
                </div>
            </div>
            <div class="collapse" id="orderDetails{{ order.id }}">
                <div>
                    <ul class="list-group">
                        {% for item in order.products.all %}
                            <li class="list-group-item d-flex align-items-center gap-5">
                                <a href="{% url 'product' item.product.id %}">{{ item.product.name }}</a>
                                <span> Size: {{ item.size }}</span>
                                <span> Quantity: {{ item.quantity }}</span>  
                                <span> Price: €{{ item.unit_price }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}