{% extends 'base.html' %}
{% load static %}

{% block title %}Payment{% endblock title %}

{% block content %}
    <h2>Checkout - Payment</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container my-4">
        <h3 class="mb-4">Order Summary</h3>

        <!-- Header -->
        <div class="row fw-bold border-bottom pb-2">
            <div class="col-4">Product</div>
            <div class="col-2">Size</div>
            <div class="col-3">Quantity</div>
            <div class="col-3">Price (€)</div>
        </div>

        <!-- Items -->
        {% for entry in cart_products %}
            {% with item=entry.item stock=entry.stock_available %}
                <div class="row py-2 border-bottom align-items-center">
                    <div class="col-4">{{ item.product.name }}</div>
                    <div class="col-2">{{ item.size.name }}</div>
                    <div class="col-3">{{ item.quantity }}</div>
                    <div class="col-3">
                        {% if item.product.is_sale %}
                            <span class="text-success fw-bold">{{ item.product.sale_price }}</span>
                        {% else %}
                            {{ item.product.price }}
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
        {% endfor %}

        <!-- Total -->
        <div class="row mt-3">
            <div class="col text-end">
                <h5><strong>Total:</strong> {{ total }} €</h5>
            </div>
        </div>
    </div>


    <hr>

    <h3>Payment Info</h3>
    <!-- Fake form - fields are just for show -->
    <form method="post" action="{% url 'place_order' %}">
        {% csrf_token %}
        <label for="card_number">Card Number:</label>
        <input type="text" id="card_number" name="card_number" required><br><br>

        <label for="expiry">Expiry Date:</label>
        <input type="text" id="expiry" name="expiry" placeholder="MM/YY" required><br><br>

        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required><br><br>
        
        <input type="hidden" name="total" value="{{ total }}">
        <button type="submit" class="btn-secondary btn">Make Order</button>
    </form>

    <br>
    <a href="{% url 'cart_summary' %}">
        <button class="btn-dark btn">Back to Cart</button>
    </a>

{% endblock %}
